mixin reviewCard(review)
  .reviews__card
    .reviews__avatar
      img.reviews__avatar-img(src=`/img/users/${review.user.photo}`, alt=`${review.user.name}`)
      h6.reviews__user= review.user.name
    p.reviews__text= review.review
    .reviews__rating
      each star in [1,2,3,4,5]
        //- 3/5, suppose we have 3 rating out of five then in each iteration it will compare with the star
        svg.reviews__star(class=`reviews__star--${review.rating>=star ? 'active': 'inactive'}`)
          use(xlink:href='/img/icons.svg#icon-star')

//- we are defining reviewCard mixin here and then we are will include it in tour.pug file